<!DOCTYPE html>
<html>
<head>
    <title>-wifi.me-</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../assets/fonts/font.css" />
    <script type="text/javascript" src="../assets/scripts/jQuery.js"></script>
    <script type="text/javascript" src="../assets/scripts/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="../assets/scripts/gen_validatorv4.js"></script>
</head>
    {% block html_header %} {% endblock %}
	<body>
	    {% block content_header %}{% endblock %}
			{% block content %}{% endblock %}
		{% block content_footer %}{% endblock %}
	</body>
</html>