<header id="header-admin" class="header-admin">
    <div >
        <h3>Epaço do Gerente</h3>
    </div>
</header>

<div class="admin-header-list">
  <h3>Edição de Partida</h3>
   <div class="btn-novo-header">
	   <%= link_to 'Voltar', partidas_path, class:"btn btn-dark btn-header"%>
   </div>
</div>
<div class="form-centralized">
	<%= render 'form' %>
</div>
