<div class="admin-header-list">
  <h3>Novo Jogador</h3>
   <div class="btn-novo-header">
	   <%= link_to 'Voltar', jogadors_path, class:"btn btn-dark btn-header"%>
   </div>
</div>
<div class="jogador-edit-form form">
	<%= render 'form' %>
</div>
