<header id="top" class="header">
        <div class="text-vertical-center">
			<h1>Novo gerente</h1>
				<div class="form form-default">
				  <%= render 'form' %>
        		</div>
        </div>
</header>	