<form id="letsfly" enctype="multipart/form-data" method="post" action="">
    <h1>Get Started</h1>				
    <ul >
	<li>
	    <input required class="fname" 
             name="fname" 
             type="text" 
             onkeyup="ajax_form('c=s_fname&v='+this.value);" 
             maxlength="255" 
             size="50px"
             value="{{nome}}"/> 
	</li>
	<li>
	    <input required class="lname" 
             name="lname" 
             type="text" 
             onkeyup="ajax_form('c=s_lname&v='+this.value);" 
             maxlength="255" 
             size="50px"
             value="{{sobrenome}}"/>  
	</li>
	<li>
	    <input required class="email" name="email" type="email" onkeyup="ajax_form('c=s_email&v='+this.value);" 
             maxlength="255" 
             size="50px" 
             value="{{email}}"/>  
	</li>
	<li>
	    <input required class="emailconfirm" name="emailconfirm" type="email" onkeyup="ajax_form('c=s_emailconfirm&v='+this.value);" maxlength="255" size="50px" value="{{confirma_email}}"/>  
	</li>
	<li id="buttons">
	    <input type="hidden" name="form_id"/>   
	    <input id="saveForm" class="button_text" type="submit" name="submit" value="Let's go!" size="25px" />
	</li>
    </ul>
</form>	
<script type="text/javascript">
function ajax_form(str) {
    if (window.XMLHttpRequest)
      {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
      }
    else
      {// code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
    xmlhttp.open("GET","includes/ajax_form.php?"+str,true);
    xmlhttp.send();
}

jQuery(function () {
	jQuery("input.fname").watermark("First Name");
	jQuery("input.lname").watermark("Last Name");
	jQuery("input.email").watermark("Email");
	jQuery("input.emailconfirm").watermark("Email Confirmation");
});

function emailconfirm() {
  var frm = document.forms["letsfly"];
  if(frm.email.value !== frm.emailconfirm.value)
  {
    sfm_show_error_msg('Emails do not match!',frm.email);
    return false;
  }
  else
  {
    return true;
  }
}

var frmvalidator = new Validator("letsfly");
frmvalidator.addValidation("fname","req","Please enter your First Name");
frmvalidator.addValidation("lname","req","Please enter your Last name");
frmvalidator.addValidation("email","req","Please enter your email address");
frmvalidator.addValidation("email","email");
frmvalidator.addValidation("emailconfirm","req","Please confirm your email address");
frmvalidator.setAddnlValidationFunction(emailconfirm);
frmvalidator.EnableMsgsTogether();
</script>